- Gift::TYPES.each do |key, value|
  - @image_extension = key if (value[:name].to_s == gift.gift_type.to_s)
- if gift.value > 0   
  =image_tag "#{@image_extension.to_s}_small.png"                     
- else
  =image_tag "free_small.png"   