- Gift::TYPES.each do |key, value|
  - image_extension = key if (value[:name] == gift.gift_type)
  = "#{value[:name]} == #{gift.gift_type}"
  %br
-#   
-# - if gift.value > 0   
  -# =image_tag "#{image_extension.to_s}_on.png"                     
-# - else
  -# =image_tag "free.png" 