<!-- Topbar
================================================== -->
<div class="topbar">
  <div class="fill">
    <div class="container">
        <ul class="nav secondary-nav">
          <li class="menu"><a href="#">Log In</a></li>
        </ul>
    </div>
  </div>
</div>

    <!-- Topbar
    ================================================== -->
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="#">PayItForward</a></h3>
          <ul>
            <li class="active"><a href="#masthead">Tour</a></li>
            <li><a href="#about">Pricing</a></li>
            <li><a href="#grid-system">Help Desk</a></li>
            <li><a href="#layouts">Blog</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li class="menu"><a href="#">Log In</a></li>
          </ul>

        </div>
      </div>
    </div>


<!-- Masthead (blueprinty thing)
================================================== -->
<div id="masthead">
  <div class="inner">
    <div class="container">
      <div class="row">
      <h1>Reward, Recognize, and Retain</h1>
      <p class="lead">
      A Revolutionary Way to Reward, Recognize, and Retain Employees!<br />
      PayItForward helps organizations grow culture and succeed by giving <br />
      them a complete solution of reward management, and employee recognition, <br />
      PayItForward is cloud-based, so you no longer need to install any software or hardware!
      </p>
    </div>
	  <div class="row">
	    <div class="span4 columns offset5">
	        <a class="btn large primary" title="Sign Up Now" href="/companies/new">Sign Up Now</a>
	    </div>
	  </div> <!-- row -->
    </div> <!-- /container -->
  </div>
</div>
<br />
