%h2 Budget
= @company.amount_spent
%h2 Invested
= @company.invested
%h2 Left
= @company.left

%br
%br

%h2 Employees
- @employees.each do |employee|
  = render "employee_profile", :employee => employee

