// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.formtastic_oneliner {
  .input {
    padding: 0px;
    margin: 0;
    width: 22%;
    display: inline-block;
    input {
      width: 150px;
    }
  }
  .buttons{
    margin: 0 !important;
    padding:0 !important;
  }       
  
}

.employee_profile {
  width: 15%;
  display: inline-block;
  margin-right: 10px;
  .image, .name {
    display: inline-block;
    clear: both;
  }
}
