!!! 5
%html
  = render "layouts/shared/head"
  %body
    .wrapper          
      
      = render :partial => "layouts/shared/navigation"
      .masthead
        .inner
          .container      
            .internal_container
              = render :partial => "layouts/shared/flash", :locals => {:flash => flash}
              = yield
